@charset "UTF-8";

body {
	font-family: 'NexonLv2Gothic';
}

.tabContainer {
	width: 95%;
	height: 70%;
	margin: 0% 1%;
/* 	padding-top: 20px; */
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
/* 	border-bottom: 2px solid #ccc; */
	border-bottom: 2px solid #73879C;
}
ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: -2px;
/* 	border: 2px solid #ccc; */
	border: 2px solid #73879C;
	border-radius: 4px 4px 0 0;
	border-bottom-color: transparent;
}
ul.tabs li.current {
	border-bottom-color: transparent;
	background: #F7F7F7;
	color: #222;
}

.tab-content {
	background: #F7F7F7;
	padding: 0px 7.5em 0px 7.5em;
	height: 2px;
	border: 2px solid #73879C;
	border-top-color: transparent;
	border-radius: 0 4px 4px 4px;
	overflow: hidden;
	display: block;
	visibility: hidden;
}
.tab-content.current {
	height: auto;
	overflow: auto;
	visibility: visible;
}