@charset "UTF-8";

body {
	font-family: 'NexonLv2Gothic';
}

.tabContainer {
	width: 90%;
	height: 70%;
	margin: 0 auto;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 1px solid #ccc;
}
ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin-bottom: -1px;
	border: 1px solid #ccc;
	border-radius: 4px 4px 0 0;
	border-bottom-color: transparent;
}
ul.tabs li.current {
	background: #F7F7F7;
	color: #222;
}

.tab-content {
	background: #F7F7F7;
	height: 1px;
	overflow: hidden;
	display: block;
	visibility: hidden;
}
.tab-content.current {
	height: auto;
	overflow: auto;
	visibility: visible;
}