@charset "UTF-8";

.B {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    
    width: 70px;
    height: 30px;
}

.B2 {
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border: none;
    
    width: 30px;
    height: 30px;
}

.B-info:hover {
    color: #fff;
    background-color: #04B486;
    border-color: #04B486;
}

.B-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}
.B-info:disabled {
	background-color: #ccc;
}

.B2-info {
    color: #73879C;
    background-color: #fff;
}


.logoutB {
    color: #fff;
    background-color: #2A3F54;
}

.logoutB:focus, logoutB:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #20c997;
}

.table-wrapper {
    overflow-x: auto; /* 테이블 직접 조절 */
    overflow-y: hidden;
}
.table-wrapper table {
    width: 100%; /* 테이블 직접 조절 */
    white-space: nowrap; 
    text-align: center;
}
.input-fielda {
    cursor: pointer; /* 마우스 포인터 클릭시 팝업 */
    display: inline-block;
    text-align-last: center;
}
.input-fieldb {
    display: inline-block; /* 사이즈 및 중앙 정렬 */
    text-align-last: center;
}
.input-fieldc {
   	cursor: pointer; /* 마우스 포인터 */
}




