<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.mapper.PersonMapper">
	
	
	<!-- 회원정보 조회 -->
	<select id="getEmployees" resultType="com.sm.domain.EmployeesVO">
		select * from employees
		where emp_id = #{emp_id}
	</select>	
	<!-- 회원정보 조회 -->
	
	
	<!-- 거래처 목록 불러오기 -->
	<select id="listAll" resultType="com.sm.domain.ClientsVO">
		select * from clients
	</select>
	<!-- 거래처 목록 불러오기 -->
	
	<!-- 수주 현황 목록 불러오기 -->
	<select id="orderStatusList" resultType="com.sm.domain.orderStatusVO">
		select * from orders
		join 
	</select>
	<!-- 수주 현황 목록 불러오기 -->
	
</mapper>