<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.mapper.PersonMapper">
	
	
	<!-- 사원 목록 조회 -->
	<select id="empList" resultType="EmployeesVO"> 
		select * from employees
		where emp_id !=''
		order by emp_id desc
		limit #{startPage}, #{pageSize}
	</select>	
	<!-- 사원 목록 조회 -->
	
	
	<!-- 사원 권한 정보 조회 -->
	<select id="management" resultType="ManagementVO">
		select * from management
	</select>
	<!-- 사원 권한 정보 조회 -->
	
	
	<!-- 사원 검색 -->
	<select id="searchEmployees" parameterType="hashMap" resultType="EmployeesVO">
		select * from employees
		<where>
			<if test="search_empid!=null and !search_empid.isEmpty()">
				emp_id=#{search_empid}
			</if>
			<if test="search_empname!=null and !search_empname.isEmpty()">
				emp_name=#{search_empname}
			</if>
			<if test="search_empdepartment!=null and !search_empdepartment.isEmpty()">
				emp_department=#{search_empdepartment}
			</if>
		</where>
		limit #{startPage}, #{pageSize}
	</select>
	<!-- 사원 검색 -->
	
	
	<!-- 거래처 목록 불러오기 -->
	<select id="listAll" resultType="com.sm.domain.ClientsVO">
		select * from clients
	</select>
	<!-- 거래처 목록 불러오기 -->
	
	<!-- 거래처 검색 -->
	<select id="searchClientsList" resultType="com.sm.domain.ClientsVO">
		<bind name="client_code" value="'%' + client_code + '%'"/>
		<bind name="client_actname" value="'%' + client_actname + '%'"/>
<!-- 		<bind name="client_type" value="'%' + client_type + '%'"/> -->
		
		select * from clients
		<where>
			<if test="client_code != ''">
				client_code Like #{client_code}
			</if>
			<if test="client_actname != ''">
				AND client_actname Like #{client_actname}
			</if>
			<if test="client_type != '전체'">
				AND client_type Like #{client_type}
			</if>
		</where>
	</select>
	<!-- 거래처 검색 -->
	
	<!-- 수주 현황 목록 불러오기 -->
	
	<resultMap type="com.sm.domain.ProductVO" id="productList">
			<result column="prod_code" property="prod_code" />
			<result column="prod_name" property="prod_name" />
			<result column="prod_unit" property="prod_unit" />
	
		<collection property="orders" ofType="com.sm.domain.OrderStatusVO">
			<result column="order_code" property="order_code" />
			<result column="order_date" property="order_date" />
			<result column="order_deliveryDate" property="order_deliveryDate" />
			<result column="emp_id" property="emp_id" />
			<result column="order_count" property="order_count" />
			<result column="client_code" property="client_code" />
			<result column="order_finish" property="order_finish" />
			<result column="oreder_note" property="oreder_note" />
		</collection>
	</resultMap>
	
	<select id="orderStatusList" resultType="com.sm.domain.ProductVO" resultMap="productList">
		select o.order_code, o.order_date, o.client_code, o.emp_id, p.prod_code, p.prod_name, 
			   p.prod_unit, o.order_deliveryDate, o.order_count, o.order_finish
		from orders o
		JOIN product p ON p.client_code = o.client_code
	</select>
	
	<!-- 수주 현황 목록 불러오기 -->
	
	<!-- 수주현황 검색 -->
	<resultMap type="com.sm.domain.ProductVO" id="productList2">
			<result column="prod_code" property="prod_code" />
			<result column="prod_name" property="prod_name" />
			<result column="prod_unit" property="prod_unit" />
	
		<collection property="orders" ofType="com.sm.domain.OrderStatusVO">
			<result column="order_code" property="order_code" />
			<result column="order_date" property="order_date" />
			<result column="order_deliveryDate" property="order_deliveryDate" />
			<result column="emp_id" property="emp_id" />
			<result column="order_count" property="order_count" />
			<result column="client_code" property="client_code" />
			<result column="order_finish" property="order_finish" />
		</collection>
	</resultMap>
	
	<select id="searchOrderStatusList" resultType="com.sm.domain.OrderStatusVO" resultMap="productList2">
<!-- 		<bind name="client_code" value="'%' + client_code + '%'"/> -->
<!-- 		<bind name="order_date" value="'%' + order_date + '%'"/> -->
<!-- 		<bind name="prod_code" value="'%' + prod_code + '%'"/> -->
<!-- 		<bind name="emp_id" value="'%' + emp_id + '%'"/> -->
<!-- 		<bind name="order_deliveryDate" value="'%' + order_deliveryDate + '%'"/> -->
		select o.order_code, o.client_code, o.order_date, o.emp_id, p.prod_code, p.prod_name, 
			   p.prod_unit, o.order_deliveryDate, o.order_count, o.order_finish
		from orders o
		JOIN product p ON p.client_code = o.client_code
		<where>
			<if test="client_code != null and client_code != ''">
				o.client_code Like concat ('%',#{client_code},'%')
			</if>
<!-- 			<if test="order_date != ''"> -->
<!-- 				AND order_date Like #{order_date} -->
<!-- 			</if> -->
			<if test="(order_date_fromDate!=null and !order_date_fromDate.equals('')) and (order_date_toDate!=null and !order_date_toDate.equals(''))">
				AND (order_date &gt;= #{order_date_fromDate} AND order_date &lt;= #{order_date_toDate}) 
			</if> 
			<if test="prod_code != null and prod_code != ''">
<!-- 				AND prod_code Like #{prod_code} -->
				AND p.prod_code Like concat ('%',#{prod_code},'%')
			</if>
			<if test="emp_id != null and emp_id != ''">
<!-- 				AND emp_id Like #{emp_id} -->
				AND o.emp_id Like concat ('%',#{emp_id},'%')
			</if>
<!-- 			<if test="order_deliveryDate != ''"> -->
<!-- 				AND order_deliveryDate Like #{order_deliveryDate} -->
<!-- 			</if> -->
			<if test="(order_deliveryDate_fromDate!=null and !order_deliveryDate_fromDate.equals('')) and (order_deliveryDate_toDate!=null and !order_deliveryDate_toDate.equals(''))">
				AND (order_deliveryDate &gt;= #{order_deliveryDate_fromDate} AND order_deliveryDate &lt;= #{order_deliveryDate_toDate}) 
			</if> 
			<if test="order_finish != '전체'">
<!-- 				AND order_finish Like #{order_finish} -->
				AND order_finish Like concat ('%',#{order_finish},'%')
			</if>
		</where>
	</select>
	
	
	<!-- 수주현황 검색 -->
	
	<!-- 수주 관리 조회 -->
	<resultMap type="com.sm.domain.ClientsVO" id="Client_order_ManageList">
		<result column="client_code" property="client_code"/>
		<result column="client_actname" property="client_actname"/>
		
		<collection property="orders" ofType="com.sm.domain.OrderStatusVO">
			<result column="order_date" property="order_date"/>
			<result column="order_deliveryDate" property="order_deliveryDate"/>
		</collection>
		<collection property="employees" ofType="com.sm.domain.EmployeesVO">
			<result column="emp_id" property="emp_id"/>
			<result column="emp_name" property="emp_name"/>
		</collection>
	</resultMap>
	
	<select id="orderManageList" resultMap="Client_order_ManageList">
		select c.client_code, c.client_actname, o.order_date, o.order_deliveryDate,
				e.emp_id, e.emp_name
		from clients c
		join orders o on o.client_code = c.client_code
        join employees e on e.emp_id = o.emp_id;
	</select>
	<!-- 수주 관리 조회 -->
	
	
	
</mapper>