<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.mapper.PersonMapper">
	
<!-- ===================================================== 사원 권한 ================================================================== -->
	
	<!-- 사원 목록 조회 -->
	<select id="empList" resultType="EmployeesVO"> 
		select * from employees
		where emp_name != '관리자'
		order by emp_hiredate desc
		limit #{startPage}, #{pageSize}
	</select>	
	<!-- 사원 목록 조회 -->
	
	<!-- 사원 권한 정보 조회 -->
	<select id="management" resultType="ManagementVO">
		select * from management
	</select>
	<!-- 사원 권한 정보 조회 -->

	<!-- 사원 전체 수 -->
	<select id="employeesAllCnt" resultType="int">
		select count(*) from employees
		where emp_name != '관리자'
	</select>
	<!-- 사원 전체 수 -->
	
	<!-- 사원 검색 -->
	<select id="searchEmployeesList" parameterType="hashMap" resultType="EmployeesVO">
		<bind name="emp_id" value="'%' + search_emp_id + '%'"/>
		<bind name="emp_name" value="'%' + search_emp_name + '%'"/>
		
		select * from employees
		<where>
			<if test="emp_id != null and !emp_id.isEmpty()">
				emp_id like #{emp_id}
			</if>
			<if test="emp_name != null and !emp_name.isEmpty()">
				and emp_name like #{emp_name}
			</if>
			<if test="search_emp_department != '전체' and !search_emp_department.isEmpty()">
				and emp_department=#{search_emp_department}
			</if>
		</where>
		order by emp_hiredate desc
		limit #{startPage}, #{pageSize}
	</select>
	<!-- 사원 검색 -->
	
	<!-- 사원 검색 개수 -->
	<select id="searchEmployeesCnt" parameterType="hashMap" resultType="int">
		<bind name="emp_id" value="'%' + search_emp_id + '%'"/>
		<bind name="emp_name" value="'%' + search_emp_name + '%'"/>
		
		select count(*) from employees 
		<where>
			<if test="emp_id != null and !emp_id.isEmpty()">
				emp_id like #{emp_id}
			</if>
			<if test="emp_name != null and !emp_name.isEmpty()">
				and emp_name like #{emp_name}
			</if>
			<if test="search_emp_department != '전체' and !search_emp_department.isEmpty()">
				and emp_department=#{search_emp_department}
			</if>
		</where>
	</select>
	<!-- 사원 검색 개수 -->
	
	<!-- 사원 추가 -->
	<insert id="insertEmployees">
		insert into employees (emp_id, emp_pw, emp_name, emp_department, emp_position, emp_email, emp_phone, emp_hiredate, emp_work)
		values (#{emp_id}, #{emp_pw}, #{emp_name}, #{emp_department}, #{emp_position}, #{emp_email}, #{emp_phone}, #{emp_hiredate}, #{emp_work})
	</insert>
	<!-- 사원 추가 -->
	
	<!-- 사원 삭제 -->
	<delete id="deleteEmployees">
		delete from employees 
		where emp_id=#{emp_id}
	</delete>
	<!-- 사원 삭제 -->
	
 	<!-- 사원 상세 조회 -->
	<select id="readEmployees" resultType="EmployeesVO">
		select * from employees
		where emp_id=#{emp_id}
		order by emp_department ASC
	</select>
 	<!-- 사원 상세 조회 -->
	
	<!-- 사원 수정 -->
	<update id="updateEmployees" parameterType="hashMap">
		update employees
		set emp_id=#{emp_id}, emp_pw=#{emp_pw}, emp_name=#{emp_name}, emp_department=#{emp_department}, 
			emp_position=#{emp_position}, emp_email=#{emp_email}, emp_phone=#{emp_phone},
			emp_hiredate=#{emp_hiredate}, emp_work=#{emp_work}, emp_addr=#{emp_addr}, emp_gender=#{emp_gender},
			emp_birth=#{emp_birth}, emp_tel=#{emp_tel}
		where emp_id=#{emp_id}
	</update>
	<!-- 사원 수정 -->
	
	<update id="updateEmployeesImg" parameterType="hashMap">
		update employees
		set file=#{file}
		where emp_id=#{emp_id}
	</update>
	<!-- 사원 수정 -->
	
	
	
	
	
	
	
	
	
	
  <!-- ===================================================== 사원 권한 ================================================================== -->
  
  <!-- ===================================================== 거래처 ================================================================== -->

	<!-- 거래처 목록 불러오기 -->
	<select id="listAll" resultType="com.sm.domain.ClientsVO">
		select * from clients
		order by client_code desc
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 거래처 목록 불러오기 -->
	
	<!-- 거래처 전체 개수 -->
	<select id="clientALLcnt" resultType="int">
		select count(*) from clients
	</select>
	<!-- 거래처 전체 개수 -->
	
	<!-- 거래처 검색 -->
	<select id="searchClientsList" parameterType="hashMap" resultType="com.sm.domain.ClientsVO">
<!-- 		<bind name="client_code" value="'%' + search_client_code + '%'"/> -->
<!-- 		<bind name="client_actname" value="'%' + search_client_actname + '%'"/> -->
		
		select * from clients
		<where>
			<if test="search_client_code != null and !search_client_code.isEmpty()">
				client_code Like concat ('%', #{search_client_code}, '%')
			</if>
			<if test="search_client_actname != null and !search_client_actname.isEmpty()">
				AND client_actname Like concat ('%', #{search_client_actname}, '%')
			</if>
			<if test="search_client_type != '전체' and !search_client_type.isEmpty()">
				AND client_type=#{search_client_type}
			</if>
		</where>
		order by client_code desc
		limit #{startPage}, #{pageSize}
	</select>
	<!-- 거래처 검색 -->
	
	<!-- 거래처 검색 개수 -->
	<select id="searchClientCnt" parameterType="hashMap" resultType="int">
<!-- 		<bind name="client_code" value="'%' + search_client_code + '%'"/> -->
<!-- 		<bind name="client_actname" value="'%' + search_client_actname + '%'"/> -->
	
		select count(*) from clients
		<where>
			<if test="search_client_code != null and !search_client_code.isEmpty()">
				client_code Like concat ('%', #{search_client_code}, '%')
			</if>
			<if test="search_client_actname != null and !search_client_actname.isEmpty()">
				AND client_actname Like concat ('%', #{search_client_actname}, '%')
			</if>
			<if test="search_client_type != '전체' and !search_client_type.isEmpty()">
				AND client_type=#{search_client_type}
			</if>
		</where>
	</select>
	<!-- 거래처 검색 개수 -->
	
	<!-- 거래처 추가 -->
	<insert id="insertClient">
		insert into clients (client_code, client_actname, client_type, client_number, client_sort, client_ceo, client_name, client_addr, 
							 client_addr2, client_tel, client_phone, client_fax, client_email, client_note)
		values (#{client_code}, #{client_actname}, #{client_type}, #{client_number}, #{client_sort}, #{client_ceo}, #{client_name}, #{client_addr}, 
			   #{client_addr2}, #{client_tel}, #{client_phone}, #{client_fax}, #{client_email}, #{client_note})
	</insert>
	<!-- 거래처 추가 -->
	
	<!-- 거래처 추가 코드  -->
	<select id="getClientCode" resultType="String">
		select client_code
		from clients
		where client_type = #{client_type}
		order by client_code desc
		limit 1
	</select>
	<!-- 거래처 추가 코드  -->
	
	<!-- 거래처 삭제 -->
	<delete id="deleteClient">
		delete from clients
		where client_code=#{client_code}
	</delete>
	<!-- 거래처 삭제 -->
	
	<!-- 거래처 수정 -->
	<update id="updateClient">
		update clients
		set client_code=#{client_code}, client_actname=#{client_actname}, client_type=#{client_type}, client_number=#{client_number}, client_sort=#{client_sort},
		    client_ceo=#{client_ceo}, client_name=#{client_name}, client_addr=#{client_addr}, client_addr2=#{client_addr2}, client_tel=#{client_tel},
		    client_phone=#{client_phone}, client_fax=#{client_fax}, client_email=#{client_email}, client_note=#{client_note}
		where client_code=#{client_code}
	</update>
	<!-- 거래처 수정 -->
	
<!-- ===================================================== 거래처 ================================================================== -->


<!-- ===================================================== 수주 현황 ================================================================== -->
	
	<!-- 수주 현황 목록 불러오기 -->
	<resultMap type="com.sm.domain.OrderStatusVO" id="orderStatusList">
			<result column="order_code" property="order_code" />
			<result column="order_date" property="order_date" />
			<result column="order_deliveryDate" property="order_deliveryDate" />
			<result column="order_count" property="order_count" />
			<result column="client_code" property="client_code" />
			<result column="prod_code" property="prod_code" />
			<result column="order_note" property="order_note" />
			<result column="emp_id" property="emp_id" />
	
		<collection property="prod" ofType="com.sm.domain.ProductVO">
			<result column="prod_name" property="prod_name" />
			<result column="prod_unit" property="prod_unit" />
		</collection>
		
		<collection property="clients" ofType="com.sm.domain.ClientsVO">
			<result column="client_actname" property="client_actname" />
		</collection>
		
		<collection property="employees" ofType="com.sm.domain.EmployeesVO">
			<result column="emp_name" property="emp_name" />
		</collection>
  </resultMap>
	
	<select id="orderStatusList" resultType="com.sm.domain.OrderStatusVO" resultMap="orderStatusList">
		SELECT o.*, p.prod_name, p.prod_unit,c.client_actname ,e.emp_name
		from orders o
		JOIN clients c ON c.client_code = o.client_code
		JOIN product p ON p.prod_code = o.prod_code
		JOIN employees e ON e.emp_id = o.emp_id
		order by order_code desc
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 수주 현황 목록 불러오기 -->
	
	<!-- 수주 현황 전체 개수 -->
	<select id="orderStatusALLcnt" resultType="int">
		select count(*) from orders 
	</select>
	<!-- 수주 현황 전체 개수 -->
	
	<!-- 수주현황 검색 -->
    <resultMap type="com.sm.domain.OrderStatusVO" id="orderStatusList2">
			<result column="order_code" property="order_code" />
			<result column="order_date" property="order_date" />
			<result column="emp_id" property="emp_id" />
			<result column="order_deliveryDate" property="order_deliveryDate" />
			<result column="order_count" property="order_count" />
			<result column="client_code" property="client_code" />
			<result column="order_note" property="order_note" />
			<result column="prod_code" property="prod_code" />
			<result column="out_YN" property="out_YN" />
	
		<collection property="prod" ofType="com.sm.domain.ProductVO">
			<result column="prod_name" property="prod_name" />
			<result column="prod_unit" property="prod_unit" />
		</collection>
		
		<collection property="clients" ofType="com.sm.domain.ClientsVO">
			<result column="client_actname" property="client_actname" />
		</collection>
		
		<collection property="employees" ofType="com.sm.domain.EmployeesVO">
			<result column="emp_name" property="emp_name" />
		</collection>
  </resultMap>

	
	<select id="searchOrderStatusList" resultType="com.sm.domain.OrderStatusVO" resultMap="orderStatusList2">
		SELECT o.*, p.prod_name, p.prod_unit,c.client_actname ,e.emp_name
		FROM orders o
		JOIN clients c ON c.client_code = o.client_code
		JOIN product p ON p.prod_code = o.prod_code
		JOIN employees e ON e.emp_id = o.emp_id
		
		<where>
			<if test="client_code != null and client_code != ''">
				o.client_code = #{client_code}
			</if>
			<if test="(order_date_fromDate!=null and !order_date_fromDate.equals('')) and (order_date_toDate!=null and !order_date_toDate.equals(''))">
				AND (order_date &gt;= #{order_date_fromDate} AND order_date &lt;= #{order_date_toDate}) 
			</if> 
			<if test="prod_code != null and prod_code != ''">
				AND o.prod_code = #{prod_code}
			</if>
			<if test="emp_id != null and emp_id != ''">
				AND o.emp_id = #{emp_id}
			</if>
			<if test="(order_deliveryDate_fromDate!=null and !order_deliveryDate_fromDate.equals('')) and (order_deliveryDate_toDate!=null and !order_deliveryDate_toDate.equals(''))">
				AND (order_deliveryDate &gt;= #{order_deliveryDate_fromDate} AND order_deliveryDate &lt;= #{order_deliveryDate_toDate}) 
			</if> 
		</where>
		order by order_code desc
		LIMIT #{startPage}, #{pageSize}
	</select>
	<!-- 수주현황 검색 -->
	
	<!-- 수주 현황 검색 개수 -->
	<select id="searchOrderStatusCnt" parameterType="hashMap" resultType="int">
		SELECT count(*) FROM orders o
		JOIN clients c ON c.client_code = o.client_code
		JOIN product p ON p.prod_code = o.prod_code
		JOIN employees e ON e.emp_id = o.emp_id
		
		<where>
			<if test="client_code != null and client_code != ''">
				o.client_code = #{client_code}
			</if>
			<if test="(order_date_fromDate!=null and !order_date_fromDate.equals('')) and (order_date_toDate!=null and !order_date_toDate.equals(''))">
				AND (order_date &gt;= #{order_date_fromDate} AND order_date &lt;= #{order_date_toDate}) 
			</if> 
			<if test="prod_code != null and prod_code != ''">
				AND o.prod_code = #{prod_code}
			</if>
			<if test="emp_id != null and emp_id != ''">
				AND o.emp_id = #{emp_id}
			</if>
			<if test="(order_deliveryDate_fromDate!=null and !order_deliveryDate_fromDate.equals('')) and (order_deliveryDate_toDate!=null and !order_deliveryDate_toDate.equals(''))">
				AND (order_deliveryDate &gt;= #{order_deliveryDate_fromDate} AND order_deliveryDate &lt;= #{order_deliveryDate_toDate}) 
			</if> 
		</where>
	</select>
	<!-- 수주 현황 검색 개수 -->
	
	<!-- 수주 등록 -->
	<insert id="registOrder">
		INSERT INTO orders (order_code, order_date, order_deliveryDate, emp_id,
					order_count, client_code, prod_code, out_YN) 
		VALUES (#{order_code}, #{order_date}, #{order_deliveryDate}, #{emp_id},
				#{order_count}, #{client_code}, #{prod_code}, "미출고")
<!-- 		orders에 있는 값만 저장하고 나머지값은,,,받아와서 저장,,,,음,, -->
	</insert>
	<!-- 수주 등록 -->
	
	<!-- 수주 삭제 --> 
	<update id="deleteOrder">
		delete from orders
		where order_code=#{order_code}
	</update>
 	<!-- 수주 삭제 --> 
 	
	<!-- 수주 수정 --> 
	<update id="updateOrder">
		UPDATE orders
		SET order_code=#{order_code}, order_date=#{order_date}, order_deliveryDate= #{order_deliveryDate},
		emp_id=#{emp_id},order_count=#{order_count},client_code=#{client_code},prod_code=#{prod_code}
		WHERE order_code=#{order_code}
	</update>
 	<!-- 수주 수정 --> 
<!-- ===================================================== 수주 현황 ================================================================== -->
	
</mapper>