<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.mapper.ProductMapper">

	<!-- 품목관리 총 게시글 갯수 출력 -->
	<select id="countProd" resultType="int">
		SELECT COUNT(*) FROM product
	</select>
	<!-- 품목관리 총 게시글 갯수 출력 -->

	<!-- 품목관리 목록 불러오기 -->
	<select id="readProd" resultType="ProductVO">
		SELECT * from product limit
		#{start}, #{cntPerPage}
	</select>
	<!-- 품목관리 목록 불러오기 -->

	<!-- 품목관리 검색 게시글 갯수 출력 -->
	<select id="countSearchProd" resultType="int">
		<bind name="prod_code" value="'%'+ prod_code +'%'" />
		<bind name="prod_name" value="'%'+ prod_name +'%'" />
		<bind name="prod_category" value="'%'+ prod_category +'%'" />
		<bind name="prod_unit" value="'%'+ prod_unit +'%'" />
		SELECT COUNT(*) FROM product
		<where>
			<if test="prod_code != ''">
				prod_code like #{prod_code}
			</if>
			<if test="prod_name != ''">
				and prod_name like #{prod_name}
			</if>
			<if test="prod_category != ''">
				and prod_category like #{prod_category}
			</if>
			<if test="prod_unit != ''">
				and prod_unit like #{prod_unit}
			</if>
		</where>
	</select>
	<!-- 품목관리 검색 게시글 갯수 출력 -->

	<!-- 품목관리 검색리스트 불러오기 -->
	<select id="readSearchProd" parameterType="hashMap" resultType="ProductVO">
		<bind name="prod_code" value="'%'+ prod_code +'%'" />
		<bind name="prod_name" value="'%'+ prod_name +'%'" />
		<bind name="prod_category" value="'%'+ prod_category +'%'" />
		<bind name="prod_unit" value="'%'+ prod_unit +'%'" />
		select * from product
		<where>
			<if test="prod_code != ''">
				prod_code like #{prod_code}
			</if>
			<if test="prod_name != ''">
				and prod_name like #{prod_name}
			</if>
			<if test="prod_category != ''">
				and prod_category like #{prod_category}
			</if>
			<if test="prod_unit != ''">
				and prod_unit like #{prod_unit}
			</if>
		</where>
		limit #{start},#{cntPerPage}
		
	</select>
	<!-- 품목관리 검색리스트 불러오기 -->

	<!-- 품목관리 정보 다중 입력 -->
	<insert id="prodIn">
		insert into product
		values
		(#{prod_code},#{prod_name},#{prod_category},#{prod_unit},#{prod_size},
		#{prod_color},#{client_code},#{prod_price},#{prod_note})
	</insert>
	<!-- 품목관리 정보 다중 입력 -->
	
	<!-- 작업지시 삭제 -->
	<delete id="deleteProd">
		DELETE FROM product 
		WHERE prod_code=#{prod_code}
	</delete>
	<!-- 작업지시 삭제 -->

	<!-- //////////////////////////////////////////////////////////////// -->

	<!-- 라인 목록 조회 -->
	<select id="lineList" resultType="com.sm.domain.LineVO">
		SELECT * FROM line
	</select>
	<!-- 라인 목록 조회 -->
	
	<!-- 라인 목록 조회 (페이징처리) -->
	<select id="lineListPage" resultType="LineVO" >
		<![CDATA[
			SELECT * FROM line 
			limit #{startPage}, #{pageSize}
		]]>
	</select>
	<!-- 라인 목록 조회 (페이징처리) -->
	
	<!-- 라인 전체 글개수 계산 -->
	<select id="totalCnt" resultType="int">
		SELECT count(*) FROM line
	</select>
	<!-- 라인 전체 글개수 계산 -->
	
	<!-- 라인 전체 글개수 계산 (서치) -->
		<select id="searchTotalCnt" resultType="int">
<!-- 		<bind name="line_code" value="'%' + line_code +'%'"/> -->
<!-- 		<bind name="line_name" value="'%' + line_name +'%'"/> -->
<!-- 		<bind name="line_place" value="'%' + line_place +'%'"/> -->
<!-- 	<resultMap id="sTotalCnt" type="com.sm.domain.LineVO"> -->
<!-- 		<result property="line_code" column="line_code"/> -->
<!-- 		<result property="line_name" column="line_name"/> -->
<!-- 		<result property="line_place" column="line_place"/> -->
<!-- 		<result property="line_use" column="line_use"/> -->
<!-- 	</resultMap> -->
<!-- 		<select id="searchTotalCnt" resultMap="sTotalCnt" resultType="int"> -->
		SELECT count(*) FROM line
		<where>
			<if test="line_code != ''">
				line_code LIKE concat('%', #{line_code},'%')
			</if>		
			<if test="line_name != ''">
				AND line_name LIKE concat('%', #{line_name},'%')
			</if>
			<if test="line_place != ''">
				AND line_place LIKE concat('%', #{line_place},'%')
			</if>
			<if test="line_use != 3">
				AND line_use= #{line_use}
			</if>
		</where>
		</select>
	<!-- 라인 전체 글개수 계산 (서치) -->
	
	<!-- 라인 검색 -->
	<select id="searchLine" resultType="com.sm.domain.LineVO">
		<bind name="line_code" value="'%' + line_code +'%'"/>
		<bind name="line_name" value="'%' + line_name +'%'"/>
		<bind name="line_place" value="'%' + line_place +'%'"/>
<!-- 		<bind name="line_use" value="'%' + line_use +'%'"/> -->
		SELECT * FROM line
		<where>
			<if test="line_code != ''">
				line_code LIKE #{line_code}
			</if>		
			<if test="line_name != ''">
				AND line_name LIKE #{line_name}
			</if>
			<if test="line_place != ''">
				AND line_place LIKE #{line_place}
			</if>
			<if test="line_use != 3">
				AND line_use= #{line_use}
			</if>
		</where>
	</select>	
	<!-- 라인 검색 -->
	
	<!-- 라인 검색(페이징처리) -->
	<select id="searchLinePage" resultType="com.sm.domain.LineVO" parameterType="hashMap">
<!-- 		<bind name="line_code" value="'%' + line_code +'%'"/> -->
<!-- 		<bind name="line_name" value="'%' + line_name +'%'"/> -->
<!-- 		<bind name="line_place" value="'%' + line_place +'%'"/> -->
<!-- 		<![CDATA[ -->
		SELECT * FROM line
  <where>
    <if test="line_code != ''">
      AND line_code LIKE CONCAT('%', #{line_code}, '%')
    </if>
    <if test="line_name != ''">
      AND line_name LIKE CONCAT('%', #{line_name}, '%')
    </if>
    <if test="line_place != ''">
      AND line_place LIKE CONCAT('%', #{line_place}, '%')
    </if>
    <if test="line_use != 0">
      AND line_use = #{line_use}
    </if>
  </where>
		limit #{startPage}, #{pageSize}
<!-- 		]]> -->
	</select>	
	<!-- 라인 검색(페이징처리) -->
	
	<!-- ///////////////////////////////////////////////////////// -->
	
	<!-- 창고 조회 -->
	<resultMap id="whm_list" type="com.sm.domain.Wh_prodVO">
	    <result property="raw_code" column="raw_code" />
	    <result property="prod_code" column="prod_code" />
		<result property="wh_code" column="wh_code"/>
		<result property="wh_name" column="wh_name"/>
		<result property="wh_dv" column="wh_dv"/>
		<result property="wh_addr" column="wh_addr"/>
		<result property="wh_tel" column="wh_tel"/>
		<result property="wh_use" column="wh_use"/>
		<result property="wh_note" column="wh_note"/>
	
	    <collection property="raw" ofType="com.sm.domain.RawMaterialVO">
	        <result property="raw_name" column="raw_name" />
	    </collection>
	
	    <collection property="prod" ofType="com.sm.domain.ProductVO">
	        <result property="prod_name" column="prod_name" />
	    </collection>
	
	</resultMap>
	
	<select id="whlist" resultMap="whm_list">
		SELECT wh_code, wh_name, wh_dv,w.prod_code, p.prod_name,
			   w.raw_code, r.raw_name, wh_addr, wh_tel, wh_use, wh_note 
		FROM warehouse w
		LEFT JOIN product p on p.prod_code = w.prod_code
		LEFT JOIN raw_material r on r.raw_code = w.raw_code
	</select>
	<!-- 창고 조회 -->
	
	<!-- 창고 조회 (페이징처리) -->
		<resultMap id="whm_listPage" type="com.sm.domain.Wh_prodVO">
	    <result property="raw_code" column="raw_code" />
	    <result property="prod_code" column="prod_code" />
		<result property="wh_code" column="wh_code"/>
		<result property="wh_name" column="wh_name"/>
		<result property="wh_dv" column="wh_dv"/>
		<result property="wh_addr" column="wh_addr"/>
		<result property="wh_tel" column="wh_tel"/>
		<result property="wh_use" column="wh_use"/>
		<result property="wh_note" column="wh_note"/>
	
	    <collection property="raw" ofType="com.sm.domain.RawMaterialVO">
	        <result property="raw_name" column="raw_name" />
	    </collection>
	
	    <collection property="prod" ofType="com.sm.domain.ProductVO">
	        <result property="prod_name" column="prod_name" />
	    </collection>
	
	</resultMap>
	
	<select id="whlistPage" resultMap="whm_listPage">
		SELECT wh_code, wh_name, wh_dv,w.prod_code, p.prod_name,
			   w.raw_code, r.raw_name, wh_addr, wh_tel, wh_use, wh_note 
		FROM warehouse w
		LEFT JOIN product p on p.prod_code = w.prod_code
		LEFT JOIN raw_material r on r.raw_code = w.raw_code
		
		limit #{startPage}, #{pageSize}
	</select>
	<!-- 창고 조회 (페이징처리) -->
	
	<!-- 창고 조회 (전체 글개수 계산) -->
	<select id="whTotalCnt" resultType="int">
		SELECT COUNT(*) 
		FROM warehouse 
	</select>
	<!-- 창고 조회 (전체 글개수 계산) -->

	<!-- 창고 검색 -->	
	<select id="searchWareHouse" resultType="WarehouseVO">
		SELECT * FROM warehouse
		<where>
			<if test="wh_code != null and !wh_code.isEmpty()">
				wh_code = #{wh_code}
			</if>		
			<if test="prod_code != null and !prod_code.isEmpty()">
				prod_code = #{prod_code}
			</if>
			<if test="raw_code != null and !raw_code.isEmpty()">
				raw_code = #{raw_code}
			</if>
			<if test="wh_name != null and !wh_name.isEmpty()">
				AND wh_name = #{wh_name}
			</if>
		</where>
		
	</select>
	<!-- 창고 검색 -->	
	
	
	
	<!-- 생산실적 목록 -->
	<resultMap id="perfList" type="PerformanceVO">
		<result property="perform_code" column="perform_code"/>
		<result property="work_code" column="work_code"/>
		<result property="perform_date" column="perform_date"/>
		<result property="perform_qt" column="perform_qt"/>
		<result property="emp_id" column="emp_id"/>
		<result property="change_id" column="change_id"/>
		<result property="change_date" column="change_date"/>
		<result property="perform_fair" column="perform_fair"/>
		<result property="perform_defect" column="perform_defect"/>
		<result property="defect_note" column="defect_note"/>
		<result property="perform_note" column="perform_note"/>
		
		<collection property="workOrder" ofType="WorkOrderVO">
			<result property="line_code" column="line_code"/>
			<result property="prod_code" column="prod_code"/>
		</collection>
	</resultMap>
	
	<select id="performList" resultMap="perfList" resultType="PerformanceVO">
		SELECT p.perform_code, p.work_code, w.line_code, w.prod_code, p.perform_date,
				p.perform_qt, p.perform_fair, p.perform_defect, p.defect_note 
		FROM performance p JOIN work_order w 
		ON p.work_code = w.work_code
	</select>
	<!-- 생산실적 목록 -->
	
	
	
</mapper>