<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.mapper.ProductMapper">
	<insert id="prodIn">
		insert into product 
		values (#{prod_code},#{prod_name},#{prod_category},#{prod_unit},#{prod_size},
		#{prod_color},#{client_code},#{prod_price},#{prod_note})
	</insert>

</mapper>