<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sm.mapper.stockMapper">


	<!-- 글 목록 조회 -->
<!-- 	<select id="listAll" resultType="com.sm.domain.In_materialVO"> -->
<!-- 	select i.in_num , c.client_actname , rm.raw_code ,  -->
<!-- 	rm.raw_name , r.raw_order_count , s.stock_raw_count ,  -->
<!-- 	 rm.raw_price , raw_price * raw_order_count,  -->
<!-- 	 i.in_date , e.emp_id , i.in_YN  -->
<!-- 	from in_material i  -->
<!-- 	join raw_order r on i.raw_order_num = r.raw_order_num  -->
<!-- 	join raw_material rm on rm.raw_code = r.raw_code  -->
<!-- 	join clients c on c.client_code = i.client_code  -->
<!-- 	join stock s on s.in_num  = i.in_num  -->
<!-- 	join employees e on e.emp_id = i.emp_id  -->
<!-- 	</select> -->
	<!-- 글 목록 조회 -->
	

	<!-- ========== 발주 목록 조회 - 시작 ========== -->
	<resultMap id="ro_List" type="com.sm.domain.Raw_orderVO">
	    <id property="raw_order_num" column="raw_order_num" />
	    <result property="raw_order_count" column="raw_order_count" />
	    <result property="raw_order_date" column="raw_order_date" />
	    <result property="emp_id" column="emp_id" />
	
	    <collection property="rawMaterial" ofType="com.sm.domain.RawMaterialVO">
	        <result property="raw_name" column="raw_name" />
	         <result property="raw_code" column="raw_code" />
	        <result property="raw_color" column="raw_color" />
	        <result property="raw_price" column="raw_price" />
	    </collection>
	
<!-- 	    <collection property="raw_mat" ofType="com.sm.domain.RawMaterialVO"> -->
<!-- 	  	  <result property="raw_name" column="raw_name" /> -->
<!-- 	        <result property="raw_code" column="raw_code" /> -->
<!-- 	        <result property="raw_color" column="raw_color" /> -->
<!-- 	        <result property="raw_price" column="raw_price" /> -->
<!-- 	    </collection> -->
	
	    <collection property="stock" ofType="com.sm.domain.StockVO">
	        <result property="stock_raw_count" column="stock_raw_count" />
	    </collection>
	    
	    <collection property="clients" ofType="com.sm.domain.ClientsVO">
	        <result property="client_actname" column="client_actname" />
	    </collection>
	    
	    
	</resultMap>
	
	<select id="getRaw_Order" resultMap="ro_List">
	    select ro.raw_order_num, c.client_actname, s.raw_code, rm.raw_name, rm.raw_color,
	           ro.raw_order_count, s.stock_raw_count, rm.raw_price, ro.raw_order_date, ro.emp_id
	    from raw_order ro
	    JOIN raw_material rm ON ro.raw_code = rm.raw_code
	    JOIN clients c ON c.client_code = rm.client_code
	    JOIN stock s ON s.raw_code = rm.raw_code
	    order by ro.raw_order_num desc
	    limit #{startRow}, #{pageSize};
	</select>
	
	<!-- 발주 목록 개수 -->
	<select id="count1" resultType="int">
		select count(*) from raw_order 
	</select>
	<!-- 발주 목록 개수 -->

	<!-- ========== 발주 목록 조회 - 끝 ========== -->

	
<!-- =================================입고 목록 조회 -============================================== 시작  -->

	<resultMap id="in_List" type="com.sm.domain.In_materialVO">
	    <result property="in_num" column="in_num" />
	    <result property="in_date" column="in_date" />
	    <result property="in_YN" column="in_YN" />
	
	    <collection property="rawOrder" ofType="com.sm.domain.Raw_orderVO">
	        <result property="raw_code" column="raw_code" />
	        <result property="raw_order_count" column="raw_order_count" />
	        <result property="emp_id" column="emp_id" />
	    </collection>
	    
	    <collection property="raw_mat" ofType="com.sm.domain.RawMaterialVO">
	    	<result property="raw_color" column="raw_color"/>
	        <result property="raw_name" column="raw_name" />
	        <result property="raw_price" column="raw_price" />
	    </collection>
	
	    <collection property="clients" ofType="com.sm.domain.ClientsVO">
	        <result property="client_actname" column="client_actname" />
	    </collection>
	
	    <collection property="stock" ofType="com.sm.domain.StockVO">
	        <result property="stock_raw_count" column="stock_raw_count" />
	    </collection>
	    
	    
	</resultMap>



<!-- 게시물 총 갯수 -->
<select id="count" resultType="int" >
select count(in_num) from in_material 
</select>
<!-- 게시물 총 갯수 -->

<!-- 페이징 -->
<select id="in_matPage" parameterType="hashMap" resultType="com.sm.domain.In_materialVO" resultMap="in_List">
	select i.in_num, c.client_actname, s.raw_code, rm.raw_name, rm.raw_color,
	           ro.raw_order_count, s.stock_raw_count, rm.raw_price, i.in_date,ro.emp_id,i.in_YN
	    from raw_order ro
	    JOIN raw_material rm ON ro.raw_code = rm.raw_code
	    JOIN clients c ON c.client_code = rm.client_code
	    JOIN stock s ON s.raw_code = rm.raw_code
	   	JOIN in_material i ON i.raw_order_num = ro.raw_order_num
	    order by ro.raw_order_num desc
	  limit #{displayPost}, #{postNum}  
</select>

<!-- 페이징 -->


<!-- 검색어   -->
<select id="countSearch" resultType="int">
	select count(*) from in_material 
	<where>
			<if test="raw_name!=null and !raw_name.isEmpty()">
				raw_name=#{raw_name}
			</if> 
			<if test="in_date!=null and !in_date.equals('')">
				in_date = #{in_date}  
			</if> 
			<if test="in_num!=null and !in_num.isEmpty() ">
				AND in_num=#{in_num} 
			</if> 
			<if test="raw_order_num!=null and !raw_order_num.isEmpty()">
				AND raw_order_num=#{raw_order_num}
			</if> 
		</where>
</select> 

<select id="in_matPageSearch" parameterType="hashMap">
select i.in_num, c.client_actname, s.raw_code, rm.raw_name, rm.raw_color,
	           ro.raw_order_count, s.stock_raw_count, rm.raw_price, i.in_date,ro.emp_id,i.in_YN
	    from raw_order ro
	    JOIN raw_material rm ON ro.raw_code = rm.raw_code
	    JOIN clients c ON c.client_code = rm.client_code
	    JOIN stock s ON s.raw_code = rm.raw_code
	   	JOIN in_material i ON i.raw_order_num = ro.raw_order_num
	<where>
			<if test="raw_name!=null and !raw_name.isEmpty()">
				raw_name=#{raw_name}
			</if> 
			<if test="in_num!=null and !in_num.isEmpty() ">
				AND in_num=#{in_num} 
			</if> 
			<if test="raw_order_num!=null and !raw_order_num.isEmpty()">
				AND raw_order_num=#{raw_order_num}
			</if> 
		</where>
	order by client_code desc  
	limit #{displayPost}, #{postNum} 
</select>


<!-- 검색어   -->

<!-- =================================입고 목록 조회 -============================================== 끝  -->

<!-- 재고 목록 조회 -->

 <resultMap id="stock_List" type="com.sm.domain.WarehouseVO">
	    <result property="wh_code" column="wh_code" />
	    <result property="wh_name" column="wh_name" />
	    <result property="wh_addr" column="wh_addr" />
	    <result property="wh_dv" column="wh_dv" />
	    
	   
	
	    <collection property="product" ofType="com.sm.domain.ProductVO">
	        <result property="prod_code" column="prod_code" />
	        <result property="prod_name" column="prod_name" />
	    </collection>
	    
	    <collection property="raw_mat" ofType="com.sm.domain.RawMaterialVO">
	    	<result property="raw_code" column="raw_code"/>
	    	<result property="raw_name" column="raw_name"/>
	    </collection>
	

	</resultMap>



	<select id="count3" resultType="int"> 
		 select count(*) from stock 
	</select> 

	<select id="stockPage" resultType="com.sm.domain.WarehouseVO" resultMap="stock_List"> 
		 select w.wh_name,w.wh_dv,w.prod_code, p.prod_name,
			   w.raw_code, r.raw_name, wh_addr ,wh_code, w.raw_code
		from warehouse w
		left join product p on p.prod_code = w.prod_code
		left join raw_material r on r.raw_code = w.raw_code
		limit #{startRow}, #{pageSize};
	</select>

<!-- 재고 목록 조회 -->

<!-- 출고 목록 조회 -->


	<resultMap id="out_List" type="com.sm.domain.Out_materialVO">
	    <result property="out_num" column="out_num" />
	    <result property="out_count" column="out_count" />
	    <result property="out_YN" column="out_YN" />
	    <result property="out_date" column="out_date" />
	
	    <collection property="product" ofType="com.sm.domain.ProductVO">
	        <result property="prod_code" column="prod_code" />
	        <result property="prod_name" column="prod_name" />
	        <result property="prod_price" column="prod_price" />
	    </collection>
	    
	    <collection property="client" ofType="com.sm.domain.ClientsVO">
	    	<result property="client_actname" column="client_actname"/>
	    </collection>
	
	    <collection property="orders" ofType="com.sm.domain.OrderStatusVO">
	        <result property="order_count" column="order_count" />
	    </collection>
	
	    <collection property="emp" ofType="com.sm.domain.EmployeesVO">
	        <result property="emp_name" column="emp_name" />
	    </collection>

	</resultMap>


<select id="count2" resultType="int" >
	select count(out_num) from out_material
	</select>

	<select id="out_matPage" parameterType="hashMap" resultType="com.sm.domain.Out_materialVO" resultMap="out_List">
		select o.out_num , c.client_actname, p.prod_code , p.prod_name ,
		ord.order_count , o.out_count
		, p.prod_price , e.emp_name ,o.out_YN
		from out_material o
		join product p on p.prod_code = o.prod_code
		join clients c on c.client_code = p.client_code
		join orders ord on ord.client_code = c.client_code
		join employees e on e.emp_id = o.emp_id
		order by out_num desc
		limit #{startRow}, #{pageSize}; 
	</select>
<!-- 출고 목록 조회 -->


</mapper>





