<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sm.mapper.workorderMapper">
	
	<!-- 작업지시 목록 -->
	<select id="allWorkOrder" resultType="WorkOrderVO">
		SELECT * FROM work_order
	</select>
	<!-- 작업지시 목록 -->
	
	<!-- 작업지시 등록 -->
	<insert id="insertWorkOrder">
		INSERT INTO work_order (work_code,prod_code,order_code,work_date,line_code,work_qt,work_state)
		VALUES (#{work_code},#{prod_code},#{order_code},now(),#{line_code},#{work_qt},#{work_state}) 
	</insert>
	<!-- 작업지시 등록 -->
	
	<!-- 작업지시 삭제 -->
	<delete id="deleteWorkOrder">
		DELETE FROM work_order 
		WHERE work_code=#{work_code}
	</delete>
	<!-- 작업지시 삭제 -->
	
	<!-- 작업지시 조회 -->
	<select id="readWorkOrder" resultType="WorkOrderVO">
		SELECT * FROM work_order WHERE work_code=#{work_code}
	</select>
	<!-- 작업지시 조회 -->
	
	
</mapper>